<%- include("partials/header") -%>
<h1>Home</h1>
<p><%- homeContent %></p>

 <%items.forEach(function(item){ %> 
 <h1><%=item.title%></h1>
 <p><%=item.body.substring(0,50) + " ..."%> <a href="/posts/<%= item.title %>">ReadMore</a> </p>
 <%})%>
<%- include("partials/footer") -%>